<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', filename='css/roomlist.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='js/roomlist.js') }}"></script>

    <title>Document</title>

</head>

<body>
    <button onclick="location.href='/create_room'" type="button" class="btn btn-dark" id="create_btn">
        방 생성
    </button>
    <h2 style="text-align: center;">방 목록</h2>
    <div class="roomlist">
        <div class="room_list">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class='th-1'>이름</th>
                        <th scope="col" class='th-2'>설명</th>
                        <th scope="col" class='th-3'>인원수</th>
                    </tr>
                </thead>
                <tbody id="order-box">
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
