<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      .main_box {
        width: 500px;
        margin: 10% auto 0px auto;
        padding-bottom: 60px;
      }
      .buttons {
        margin: 50px auto 0px auto;
        width: 300px;
        border: solid, black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .buttons > button {
        width: 100px;
        margin: 10% 20px;
      }
    </style>
    <script>
      let validate = false;
      const onClickRegist = () => {
        if (validate) {
          let formData = new FormData();
          formData.append("user_id", $("#user_id").val());
          formData.append("password", $("#password").val());
          formData.append("nickname", $("#nickname").val());
          formData.append("phone", $("#phone").val());
          fetch("/regist", { method: "POST", body: formData })
            .then((res) => res.json())
            .then((data) => {
              alert(data.msg);
              location.href = "/";
            });
        } else {
          alert("ID중복확인을 하지 않았습니다.");
        }
      };

      const onClickCancelBtn = () => {
        window.location.href = "/";
      };

      const onClickIdValidate = () => {
        let formData = new FormData();
        formData.append("user_id", $("#user_id").val());
        fetch("/validate", { method: "POST", body: formData })
          .then((res) => res.json())
          .then((data) => {
            if (data.result === "success") validate = true;

            alert(data.msg);
          });
      };
    </script>
  </head>

  <body>
    <!-- 메인 박스 -->
    <div class="main_box">
      <!-- 회원가입 -->
      <div>
        <h1>회원가입</h1>
      </div>
      <!-- 회원가입 form 박스 -->
      <div>
        <!-- 아이디 -->
        <div class="form-floating mb-3 input-group">
          <input
            type="text"
            class="form-control"
            id="user_id"
            name="user_id"
            placeholder="ID"
            required
          />
          <label for="user_id">ID</label>
          <div class="input-group-append h-2">
            <button
              class="btn btn-outline-primary"
              type="button"
              style="height: 100%"
              onclick="onClickIdValidate()"
            >
              중복확인
            </button>
          </div>
        </div>

        <!-- 비밀번호 -->
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
          <label for="password">Password</label>
        </div>
        <!-- nickname  -->
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="nickname"
            name="nickname"
            placeholder="nickname"
            required
          />
          <label for="nickname">NICKNAME</label>
        </div>
        <!-- phoneNum -->
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="phonenumber"
          />
          <label for="phone">PHONE NUMBER</label>
        </div>
        <!-- button -->
        <div class="buttons">
          <button
            type="button"
            class="btn btn-outline-primary"
            onclick="onClickRegist()"
          >
            가입
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            onclick="onClickCancelBtn()"
          >
            취소
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
