<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
      integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <style>
      .login_box {
        padding: 1rem;
        border-radius: 5px;
        background-color: cornsilk;
        width: 300px;
      }
      .buttons {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: end;
      }
      .buttons > button {
        margin-left: 10px;
      }
    </style>
    <script>
      const onClickRegistBtn = () => {
        location.href = "/regist";
      };
      const onClickSigninBtn = () => {
        let formData = new FormData();
        formData.append("user_id", $("#user_id").val());
        formData.append("password", $("#password").val());
        fetch("/login", { method: "POST", body: formData })
          .then((res) => res.json())
          .then((data) => {
            let date = new Date();
            date.setTime(date.getTime() + 1 * 60 * 60 * 1000); // 1시간
            $.cookie("mytoken", data.token, { expires: date });
            alert("로그인 완료!");
            window.location.href = "/";
          });
      };
      const onClickLogout = () => {
        if (confirm("로그아웃 하시겠습니까??") === true) {
          $.removeCookie("mytoken");
          window.location.href = "/";
        }
      };
    </script>
  </head>
  <body>
    <!-- main_box -->
    <div>
      <!-- login box -->
      <div class="login_box">
        {% if user_info != null %}
        <!-- id -->
        <div><b>{{ user_info.nickname }}</b> 님 어서오세요.</div>
        <!-- logout -->
        <div class="buttons mt-5">
          <button
            type="button"
            class="btn btn-outline-danger"
            onclick="onClickLogout()"
          >
            로그아웃
          </button>
        </div>
        {% else %}
        <!-- id -->
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="user_id"
            name="user_id"
            placeholder="ID"
          />
          <label for="user_id">ID</label>
        </div>
        <!-- 비밀번호 -->
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
          />
          <label for="password">Password</label>
        </div>
        <!-- buttons -->
        <div class="button_box">
          <button
            type="button"
            class="btn btn-outline-danger"
            onclick="onClickRegistBtn()"
          >
            회원가입
          </button>
          <button
            type="submit"
            class="btn btn-outline-primary"
            onclick="onClickSigninBtn()"
          >
            로그인
          </button>
        </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
